@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
	margin: 0.25rem 0.25rem;
	padding: 0.75rem;
	/* background-color: #a9a9a9; */
}

body{
	background-color: #c7c6c6cb;
}

:root {
	--main-color: rgb(7, 70, 133);
}

h1{
	font-family: 'Lobster', cursive;
}

.header {
	font-size: 3.25rem;
	color: black;
	text-align: center;
}

.display{
	display: none !important;
}
.bar, .progress{
	color: green;
}

::placeholder{
	font-weight: 200;
	filter: brightness(50%);
}

